@import "tailwindcss";

@font-face{
    font-family: Montserrat;
    src: url("../assets/Fuentes/Montserrat/Montserrat-VariableFont_wght.ttf");  
}

@font-face{
    font-family: Nunito;
    src: url("../assets/Fuentes/Nunito/Nunito-VariableFont_wght.ttf");  
}

@theme {
--font-montserrat: Montserrat, "sans-serif";
--font-nunito: Nunito, "sans-serif";

--color-medblue: #5b5ea7; /* Morado principal */
--color-medbluelight: #ABBAF0; /* Morado claro */
--color-medbluehover: #3E3A99; /* Morado hover */
--color-medbluefocus: #6F81D3; /* Morado focus */

--color-healingblue: #76c7d0; /* Azul turquesa principal */
--color-healingbluelight: #E0F9FC; /* Azul claro */

--color-noxgrey: #3d4448; /* Gris oscuro */
--color-sterilgrey: #e7e7e7; /* Gris muy claro*/
--color-vitalblue: #F0F9FE; /* Blanco azulado*/

--color-fondo: #FCFEFF; /* Blanco para el fondo*/

--color-rojo: #FCA5A5; /* Rojo*/
--color-rojoclaro: #FEE2E2; /* Rojo claro*/
}
